/* Side Menu  */

.sideMenu {
	float: right;
	
	margin-left: 22px;
}

.sideMenu ul{
	border-top: 1px solid yellow;
	padding: 0;
}

.sideMenu ul li {
	display:block;
	width: 122px;
	min-height: 36px;
}

.sideMenu ul li a {
	display:block;
	text-decoration: none;
	width:110px;
	height:36px;
	padding-right:12px;
	font-size: 13px;
	line-height: 32px;
	background: url('../image/drawer-pic7.png') no-repeat 0 0;
}

.sideMenu ul li a:hover,
.sideMenu ul li a.selected {
	background-position: -122px 0;
}


#breadcrumbs {
	margin-bottom: 20px;
	margin-right: 10px;
	font-size: 14px;
}

.art-detile h2 {
	font-size: 32px;
	text-shadow: 2px 2px 2px yellow;
	
}

.tab-art {
	position: relative;
	width: 72%;
	margin-right: 0.2em;
}

.tab-art h2 {
	font-size: 28px;
	text-decoration:underline;
	text-shadow: 2px 2px 2px blue;
	margin: 10px 0;
}

.tab-art p {
	margin-bottom: 10px;
	text-align: justify;
}

#gal-all {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

#gal-all p {
	display:inline-block;
	min-width: 200px;
	width: 30%;
	margin: 5px 5px 0 0;
	border: solid 2px orange;
	text-align: center;
}

#gal-all .pic-big {
	width: 95%;
}

#gal-all img {
	display:inline-block;
	width: 90%;
	margin: 3px;
}

.desc-title {
	margin-top: 5px;
	text-decoration: underline;
}

.art-detile table, .art-detile tr, .art-detile td {
/*	border: 1px solid yellow;
	border-collapse: collapse;
*/
	vertical-align: text-top;
	padding-bottom: 15px;
}

.art-detile table .col-1 {
	width: 180px;

}

.art-detile table .col-2 {
	width: 310px;

}

.art-spec{
	float: right;

}

.gal-one {
	display:inline-block;
}

.pic-2{
	float:left;
	max-width: 18%;
}

.pic-1 {
	margin-left: 5%px;
	max-width: 80%;
}


