@media screen and (max-width: 850px) {
	nav img {
		display: block;
	}

	.mnulvl-1 {
		display: none;
		z-index: 1;
		position: absolute;
	}

	.mnulvl-1 li {
		display: block;
		clear: both;
		z-index: 1;
		margin: 0;
	}

	.mnulvl-1 li:hover {
		font-weight: bold;
	}

	#contact {
		width:70%;
	}

}

@media screen and (max-width: 650px) {
	nav img {
		display: block;
	}

	.mnulvl-1 {
		display: none;
		z-index: 1;
		position: absolute;
	}

	.mnulvl-1 li {
		display: block;
		clear: both;
		z-index: 1;
		margin: 0;
	}

	.mnulvl-1 li:hover {
		font-weight: bold;
	}

	.tab-logo {
		width: 50%;
	}

	.tab-logo img {
		width:50%;
		margin-right: 25%;
	}

	.tab-logo p {
		color: yellow;
	}

	article {
		top:4em;
	}

	#about-content, .pic,.tab-art, #mail-contact {
		width: 95%;
		margin: 0 auto;
	}

	.logo-contact {
		display: none;
	}	

	#contact {
		width:70%;
	}
}
