body {
	margin: 0px;
	padding:0px;
	direction: rtl;
	text-align: right;
}

p, a {
	margin:0;
	padding:0;
}

footer {
	position: fixed;
	bottom: 0px;
	right: 18%;
	background-color: red;
}



.container {
	position: relative;
	max-width:900px;
	margin: 0 auto;
}

/* Menu style */

nav {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 80%;
	float: right;
}

.mnulvl-1 {
	padding: 0;
	margin: 0;
	list-style: none;
	position:relative;
	display: block;
}

.mnulvl-1 li {
	float: right;
	list-style: none;
	margin: 1px;
	width: 135px;
}

.mnulvl-1 li a {
	text-align:center;
	color:yellow;
	display:block;
	padding: 10px;
	text-decoration: none;
	background: url(/Project/image/drawer-pic2.jpg) no-repeat;
	background-size:cover;
}

.mnulvl-1 li:hover > ul {
	display:block;
	position:absolute;	
	z-index: 1;
}

.mnulvl-2 {
	display:none;
}

.mnulvl-2 li {
	clear: both;
}

.mnulvl-2 li a {
	text-align:center;
	color:yellow;
	display:block;
	padding: 10px;
	text-decoration: none;
	background: url(/Project/image/drawer-pic2.jpg) no-repeat;
	background-size:cover;
}

/* End of menu style */

.tab-logo {
	position: absolute;
	left: 1%;
	width :18%;
}

#logo-text {
	text-align: center;
}

article {
  	position:relative;
  	top: 55px;

}

.pic {
	width:50%;
	float:right;
	margin: 0 5px;
	background-color:lime;
}

/* http://fotorama.io/set-up/ */
.fotorama img {
	width: 95%;
	height: 90%;
}

.tab-vision {
	float:right;
	margin: 0 5px;
	width:27%;
	background-color:aqua;
}

.tab-vision p {
/*	position:relative; */
	margin: 1em;
	font-size: 16px;
}

.tab-vision h3 {
	margin:0;
}
