body {
	margin: 0px;
	padding:0px;
	direction: rtl;
	text-align: right;
}

p, a {
	margin:0;
	padding:0;
}

footer {
	position: fixed;
	bottom: 0px;
	right: 0px;
	background-color: red;
}



.container {
	position: relative;
	top: 0px;
	right: 0px;
	margin-bottom: 30px;
}

/* Menu style */

nav {
	position: static;
	top: 0px;
	right: 0px;
	width: 80%;
	float: right;
}

.mnulvl-1 {
	padding: 0;
	margin: 0;
	list-style: none;
	position:relative;
	display: block;
}

.mnulvl-1 li {
	float: right;
	list-style: none;
	margin: 0.5%;
	width: 19%;
}

.mnulvl-1 li a {
	text-align:center;
	color:yellow;
	display:block;
	padding: 0.5em;
	text-decoration: none;
	background: url(/Project/image/drawer-pic2.jpg) no-repeat;
	background-size:contain;
}

.mnulvl-1 li:hover > ul {
	display:list-item;
	position:relative;	
	top:105%;
	z-index: 999;
}

.mnulvl-2 {
	display:none;
}

.mnulvl-2 li {
	width:auto;
	float:none;
	position:relative;
}

.mnulvl-2 li a {
	text-align:center;
	color:yellow;
	display:block;
	padding: 4%;
	text-decoration: none;
	background: url(/Project/image/drawer-pic2.jpg) no-repeat;
	background-size:contain;

}

/* End of menu style */

.tab-logo {
	position: absolute;
	left: 2%;
	width :12%;
}

#logo-text {
	text-align: center;
}

article {
  	position:relative;

}

.pic {
	position:relative;
	float:right;
	width:50%;
	height:40%;
	background-color:lime;
	z-index: 1;
}

/* http://fotorama.io/set-up/ */
/*.fotorama img {
	width: 95%;
	height: 80%;
}*/

.tab-vision {
	position:relative;
	right:52%
	top:10%;
	width:20%;
	background-color:aqua;
}

.tab-vision p {
/*	position:relative; */
	margin: 1em;
}

.tab-vision h3 {
	margin:0;
}
