@font-face {
	font-family: "Alef";
	src: url('../fonts/Alef/Alef-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "Alef-Bold";
	src: url('../fonts/Alef/Alef-Bold.ttf') format('truetype');
}

@font-face {
	font-family: "felix";
	src: url('../fonts/felix007/felix007-medium-webfont.ttf') format('truetype'),
	src: url('../fonts/felix007/felix007-medium-webfont.eot') format('eot'),
	src: url('../fonts/felix007/felix007-medium-webfont.woff') format('woff');
}

@media screen and (max-width: 850px) {
	nav ul 		{display: none; }
	nav select 	{display: inline-block; }
}

body {
	margin: 0px;
	padding:0px;
	direction: rtl;
	text-align: right;
	background: black; /* url('../image/wood-bg-t2.jpg') no-repeat cover; */ 
	font-family: Alef, Helvetica,'Times New Roman', Arial, sans-serif;
	color: white;
}

p, a, h3, ul, li {
	margin:0;
	padding:0;
	color: white;
}

footer {
	position: fixed;
	bottom: 0px;
	left: 10%;
	font: italic 18px Arial;
	color: white;
}



.container {
	position: relative;
	top: 10px;
	max-width:1080px;
	margin: 0 auto;
}

/* Menu style */

nav {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 75%;
	float: right;
}

nav img {
	display:none;
}

nav select {
	display: none;
	/* background: url('../image/menu-icon.png'); */
}

.mnulvl-1 {
	padding: 0;
	margin: 0;
	list-style: none;
	position:relative;
	display: block;
}

.mnulvl-1 li {
	float: right;
	list-style: none;
	margin: 1px;
	width: 135px;
}

.mnulvl-1 li a {
	text-align:center;
	font: Arial;
	color:yellow;
	display:block;
	padding: 10px;
	text-decoration: none;
	background: url(../image/drawer-pic.jpg) no-repeat;
	background-size: cover;
}

.mnulvl-1 li:hover > ul {
	display:block;
	position:absolute;	
	z-index: 1;
}

.mnulvl-2 {
	display:none;
}

.mnulvl-2 li {
	clear: both;
}

.mnulvl-2 li a {
	text-align:center;
	color:yellow;
	display:block;
	padding: 10px;
	text-decoration: none;
	background: url(/Project/image/drawer-pic2.jpg) no-repeat;
	background-size:cover;
}

/* End of menu style */

.tab-logo {
	position: absolute;
	top: 0px;
	left: 1%;
	width :23%;
}

.tab-logo img {
	max-width: 100%;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0, 185, 233, .75);
	box-shadow: 0px 0px 15px 5px rgba(0, 185, 233, .75);
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.tab-logo img:hover {
	-webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
	box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
}

#logo-text {
	font-family: felix, Arial;
	font-size: 0.8em;
	text-align: center;
}

.logo-contact {
	position:absolute;
	width:22%;
	left: 1%;
	top: 200px;
	padding: 5px;
	margin-top: 40px;
	border: solid 2px white;
	background: url('../image/wood-bg-2.jpg');
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.logo-contact:hover {
	-webkit-transform:scale(1.2);
	transform:scale(1.2);	
}

.logo-contact h3 {
	text-shadow: 2px 2px 2px blue;
	text-decoration: underline;
}

.logo-contact #logo-mail li {
	margin-bottom: 5px;
	list-style: none;
}

.logo-contact #logo-mail li input {
	width: 150px;	
}

.logo-contact p input {
	margin-right: 83%;
}

.logo-contact #logo-mail label {
	display:inline-block;
	font: 15px Arial;
	width: 50px;
}

article {
  	position:relative;
  	top: 4em;

}

.pic {
	width:75%;
	float:right;
	margin: 0 5px;
	border-top: solid 2px yellow;
}

.pic p {
	font-size: 24px;
	text-decoration: underline;
}

/* http://fotorama.io/set-up/ */
.fotorama img {
	width: 95%;
	height: 70%;
}

.tab-vision {
	float:right;
	margin: 0 5px;
	width:75%;
}

.tab-vision p {
	margin: 1em;
	font-size: 22px;
}

.tab-vision p .p-2nd {
	font-size: 18px;
}

.tab-vision h3 {
	margin:0;
	font-size: 28px;
}

#contact {
	width: 75%;
}

#about-content {
	width: 70%;
	text-align: justify;
}

#mail-contact {
	width: 70%;
}

#mail-contact ul {
	padding-right: 1em;
}

#mail-contact li {
	list-style: none;
}

#mail-contact .lbl {
	width: 10em;
	display: inline-block;
}

#mail-contact textarea {
	margin-top: 1em;
}

#mail-contact button {
	font-size: 1.2em;
	color: blue;
	background-color: yellow;
	width: 12em;
	text-align: center;
	margin-right: 1em;
}
